
   <form action="" class="form">
    <div class="shape shape1"></div>
    <div class="shape shape2"></div>
    <div class="login login__form">
      <div class="container cont__login">
       <input type="text"  class="email input" value="" name="text" placeholder="Username" [(ngModel)]="this.username" >
       <input type="password" class="password input" name="password" placeholder = "Password">
       <button class="btn btn__login" (click)="login(username)" >login</button>
      </div>           
      </div>
      <!--
     <div class="register login__form">
       <div class="container">
         <input type="text" class="email input" name="email" placeholder="Email Address" >
         <input type="password" class="password input" name="password" placeholder = "Password">
         <input type="password" class="password pwtwo input" name="pwrepeat" placeholder = "Repeat Password">
         <input type="submit" class="btn btn__register">
       </div>
    </div> --> 

<div class="cta">
      <h2 class="cta__heading">Login to your account!</h2>
      <p class="cta__text">to get full access to our awesome product!</p>
      
       <button class="btn cta__btn" (click)="register()" > <p class="cta__btn--text1">Dont have an Account?</p> <p class="cta__btn--text2">Click Here to register!</p></button>
    </div>
  </form>